<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <style>
      input {
        margin-top: 10px;
      }
    </style>
    <title>Reset Password</title>
  </head>
  <body>
    <form
      action="/auth/reset-password/<%= token %>"
      method="POST"
      class="container"
    >
      <h2>Reset Password</h2>
      <div class="form-group">
        <label for="newPassword">New Password:</label>
        <input
          type="password"
          id="newPassword"
          name="newPassword"
          required
          value="<%= newPassword %>"
        />
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password:</label>
        <input
          type="password"
          id="confirmPassword"
          name="confirmPassword"
          required
          value="<%= confirmPassword %>"
        />
      </div>

      <div class="form-group">
        <button id="resetButton">Reset Password</button>
      </div>
      <p id="message"><%= message %></p>
    </form>
  </body>
</html>
